@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    flex: 1; /* Makes the form container grow to fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove margins to avoid overflow */
}

.login-form {
    border-radius: 8px;
    background-color: #24304C; 
    list-style: none;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.login-form li label {
	color:#fafafa;
    display: block; 
    margin-bottom: 5px;
}

ul.login-form li input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

button {
    padding: 10px 20px;
    background-color: #3163A8;
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #24304C;
}
