/* Updated navbar.css */
nav ul.navbar-menu {
    display: flex;
    list-style-type: none;
    width: 100% !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24304C;
    justify-content: space-evenly;
}

nav ul.navbar-menu li a {
    display: flex;
    align-items: center;
    color: #FAFAFA;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #24304C;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

nav ul.navbar-menu li a:hover:not(.navbarLogo) {
    background-color: #3163A8;
    color: #FAFAFA;
    transform: scale(1.05);
}

.navbarLogo {
    height: 1.5em; 
    width: auto; 
    padding: 0;
    margin: 0;
    vertical-align: middle;
    transform: scale(3); /* Adjust this scaling factor as needed */
}
