
.service-details, .category-details {
    background-color: #24304C;
    border-radius: 5px;
    border: 2px solid #3163A8;
    color: #fafafa;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-details{
    height: 500px;
}

.category-details{
    height: 300px;
}

.details-container, .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


/* Search Bar */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Add space around the search bar */
}

.search-form input[type="text"] {
    width: 300px; /* Set a standard width for the input */
    padding: 10px;
    border: 2px solid #3163A8;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-form button {
    padding: 10px 20px;
    margin-left: 10px; /* Add space between input and button */
    border: none;
    background-color: #3163A8;
    color: #fafafa;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #24304C;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Add space above and below pagination */
    gap: 10px; /* Space between buttons */
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #3163A8;
    border-radius: 5px;
    background-color: #24304C;
    color: #fafafa;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #3163A8;
    color: #fff;
    border-color: #24304C;
}

.pagination span {
    padding: 10px 15px;
    font-size: 16px;
    color: #3163A8;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: transparent;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .search-form input[type="text"] {
        width: 80%; /* Full width on smaller screens */
    }

    .pagination a, .pagination span {
        font-size: 14px; /* Adjust font size for small screens */
        padding: 8px 12px;
    }
}

.service-details img {
    max-width: 100%;
    max-height: 50%;
    object-fit: cover; 
    border-radius: 5px; 
    margin-bottom: 10px;
}